body {
    font-family: "Arial", "Montserrat", "sans-serif";
    font-size: 15px;
    letter-spacing: .05em;
    color: #ffffff;
    background-color: #393939;
    margin: 0;
}

a {
    color: rgb(100, 200, 255); 
    transition: color 0.3s; 
}

a:hover {
    color: #8b07ff; 
}

a:visited {
    color: rgb(175, 175, 255); 
}


/*--ヘッダー--*/
.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #000000;
    box-shadow: 0 5px 10px -6px rgb(255, 255, 200);
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
}

.header-icon {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: .05em;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.header-icon a {
    text-decoration: none;
    color: #ffffff;
}

.index {
    display: flex;
    list-style: none;
}

.index a {
    position: relative;
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
    padding: 0px 15px;
    transition: .3s;
    letter-spacing: .05em;
    color: #ffffff;
}

.index a:hover {
    color: rgb(255, 255, 150); 
}


/*--表紙--*/
.cover {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    height: calc(100vh - 70px);    /*--表紙として全画面表示--*/
    text-align: center;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.8);

    background-image: url('background.jpg'); 
    background-size: cover; 
    background-position: center;   /*--スマホ時画像中央揃え--*/
}

.cover-container {
    padding: 0 40px;
}

.cover-title {
    font-size: 60px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 5px;
    letter-spacing: .1em;
    backdrop-filter: blur(20px);
}
.cover-subtitle {
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 40px;
    letter-spacing: .08em;
}


/*--About--*/
#about {
    border-bottom: 4px solid black;
    width: 250px;
    text-align: center; 
    font-size: 36px;
    margin: 50px auto; 
    padding-top: 80px;
}

.icon {
    width: 300px; 
    height: 300px; 
    border-radius: 50%; 
    object-fit: cover; 
    display: block;
    margin: 50px auto 0;
}

.ab-name {
    text-align: center;
    font-size: 24px;
}

.ab {
    text-align: center;
    margin: 6px 0;
}


/*--works--*/
#works {
    border-bottom: 4px solid black;
    width: 250px;
    text-align: center; 
    font-size: 36px;
    margin: 50px auto; 
    padding-top: 80px;
}

.wo {
    text-align: center;
    margin: 6px 0;
}

.wo-title {
    text-align: center;
    font-size: 24px;
}

.wo-link a {
    color: rgb(100, 200, 255); 
}

.wo-link a:hover {
    color: rgb(170, 50, 255); 
}

.wo-link a:visited {
    color: rgb(175, 175, 255); 
}

.wo-link a:visited:hover {
    color: rgb(170, 50, 255); 
}

.suika {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.play a {
    text-align: center;
    font-size: 24px;
    color: #fc8787;
}

.play a:hover {
    color: #fd3030; 
}


/*--skill--*/
#skill {
    border-bottom: 4px solid black;
    width: 250px;
    text-align: center; 
    font-size: 36px;
    margin: 50px auto; 
    padding-top: 80px;
}

.sk {
    text-align: center;
    margin: 6px 0;
}


/*--contact--*/
#contact {
    border-bottom: 4px solid black;
    width: 250px;
    text-align: center; 
    font-size: 36px;
    margin: 50px auto; 
    padding-top: 80px;
}

.co {
    text-align: center;
    margin: 6px 0;
    padding-bottom: 40px;
}

.co a {
    color: rgb(100, 200, 255); 
}

.co a:hover {
    color: rgb(170, 50, 255); 
}

.co a:visited {
    color: rgb(175, 175, 255); 
}

.co a:visited:hover {
    color: rgb(170, 50, 255); 
}


/*--footer--*/
footer {
    background-color: black;
    padding: 40px;
    text-align: center;
}

/*--media design--*/

@media screen and (max-width: 767px) {
    .header .container {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    
    .header-icon {
        border-bottom: 2px solid white;
        width: 767px;
        display: inline-block; 
        display: flex;
        margin-bottom: 15px; 
    }
    
    .index {
        flex-direction: row; 
        justify-content: center; 
    }
    
    .index a {
        width: 100%; 
        box-sizing: border-box;
    }
    
    .cover {
        height: 500px;
        margin-top: 80px;
    }
    
    .cover-container {
        padding: 0 20px;
    }
    
    .cover-title {
        font-size: 30px;
    }
    
    .cover-subtitle {
        font-size: 16px;
    }

    .wo {
        text-align: center;
        margin: 6px 0;
    }
    
    .suika {
        max-width: 80%;
        height: auto;
        display: block;
        margin: 0 auto; 
    }

}
