body {
    font-family: "Arial" "Montserrat";
    font-size: 15px;
    letter-spacing: .05em;
    color: #ffffff;
    background-color: #393939;
    margin: 0;
}

a {
    color: white; 
    transition: color 0.3s; 
}

a:hover {
    color: #d8aaff; 
}

a:visited {
    color: #d8aaff; 
}



/*--ヘッダー--*/
.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #000000;
    box-shadow: 0 5px 10px -6px rgba(255, 255, 255, 0.599);
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
}

.header-icon {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    margin-right: 20px;
    letter-spacing: .05em;
}

.header-icon a {
    text-decoration: none;
    color: #ffffff;
}

.index {
    display: flex;
    list-style: none;
}

.index a {
    position: relative;
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
    padding: 10px 15px;
    transition: .3s;
    letter-spacing: .05em;
    color: #ffffff;
}

/*--表紙--*/
.mv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;

    background-image: url('background.jpg'); 
    background-size: cover; 
}

.mv-container {
    padding: 0 40px;
}

.mv-title {
    font-size: 60px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 5px;
    letter-spacing: .1em;
    backdrop-filter: blur(20px);
}
.mv-subtitle {
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 40px;
    letter-spacing: .08em;
    backdrop-filter: blur(20px);
}


/*--About--*/
#about {
    border-bottom: 4px solid black;
    width: 250px;
    text-align: center; 
    font-size: 36px;
    margin: 50px auto; 
    padding-top: 80px;
}

.icon {
    width: 300px; 
    height: 300px; 
    border-radius: 50%; 
    object-fit: cover; 
    display: block;
    margin: 50px auto 0;
}

.ab-name {
    text-align: center;
    font-size: 24px;
}

.ab {
    text-align: center;
    margin: 6px 0;
}

/*--works--*/
#works {
    border-bottom: 4px solid black;
    width: 250px;
    text-align: center; 
    font-size: 36px;
    margin: 50px auto; 
    padding-top: 80px;
}

.wo {
    text-align: center;
    margin: 6px 0;
}

.wo-title {
    text-align: center;
    font-size: 24px;
}

/*--skill--*/
#skill {
    border-bottom: 4px solid black;
    width: 250px;
    text-align: center; 
    font-size: 36px;
    margin: 50px auto; 
    padding-top: 80px;
}

.sk {
    text-align: center;
    margin: 6px 0;
}

/*--contact--*/
#contact {
    border-bottom: 4px solid black;
    width: 250px;
    text-align: center; 
    font-size: 36px;
    margin: 50px auto; 
    padding-top: 80px;
}

.co {
    text-align: center;
    margin: 6px 0;
}
